body {
    font-family: 'Roboto', sans-serif;
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#container {
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    width: 360px;
    margin: 100px auto;
}

h1 {
    background: #2c3e50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3498db, #2c3e50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #3498db, #2c3e50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *
    /*background-color: #2980b9;*/
    color: white;
    margin: 0;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
}

.fa-chevron-down{
    float: right;
}

input {
    font-size: 18px;
    color: #2980b9;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    border: 3px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

input:focus {
    background-color: #fff;
    border: 3px solid #2980b9;
    outline: none;    
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:nth-child(2n) {
    background: none;
}

span {
    background-color: #e74c3c;
    color: white;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    height: 40px;
    transition: 0.2s linear;
    opacity: 0;
    width: 0;
}

li:hover span {
    opacity: 1;
    width: 40px;
}

.complete {
    color: rgb(128, 128, 128);
    text-decoration: line-through;
}